@use '../../styles/abstracts/variables' as *;

.favorite{
 display: flex;
  width: 100%;
  font-family: $font-stack;
  flex-direction: column;
  height: 100%; 
  min-height: 70vh;

  .new-recipes-title{
    background-color: $color-white;
    text-align:center;
    font-size: $font-title-adap-size;
    padding: 1.1% 0;
  }

  .new-recipes{
    display: flex;
    min-height: 75vh;
    background-color: $color-white;
    //padding: 8% 3%;
    align-items: center;
    justify-content: center;
    .new-recipes-cards{
      width: 80%;
      height: auto;
      display: flex;
      justify-content: center;
      gap: 10px;
      
    }
  }
}