@use '../../styles/abstracts/variables' as *;

.button{
  //width: 10vw;
  //height: 7vh;
  //margin-top: 7vh;
  background-color: $color-yellow ;
  //font-style:italic;
  font-size: clamp(1rem, 1.3vw, 24px); 
  border-radius: 80px;
  border-style: none;
  padding: 2vmin 2vw;
  align-items: center;
  box-shadow: 0 7px 3px #C0C0C0;

  @media(max-width: 1024px){
    padding: 2vh 2vw;
  }
  @media(max-width: 768px){
     padding: 1.5vh 3vw;
     font-size: clamp(0.8rem, 1vw, 24px); 
  }
}
