@use '../../styles/abstracts/variables' as *;

.profile{
  min-height: 85vh;
  width:100%;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  .headerBlock{
    padding: 1.1% 0;
    border-bottom: 2px solid $color-yellow; 
    width: 100%;
    margin-bottom: 5vh;
    .header{
      text-align: center;
       font-size: $font-title-adap-size;
    }
  }
  .profileBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 5vh;
    .username{
      text-align: center;
      font-size: clamp(1.3rem, 2vw, 28px);
      margin-bottom: 4vh;
    }
     
      .imageFrame{
        width: 20vw;
        height: 20vw;
        display: flex;
        //width: fit-content;
        align-items: center;
        overflow: hidden;   
        justify-content: center;
        background-color: $color-gray-dark;
        padding: 1vw;
        border-radius: 50%;
        
        .photo{
         width: 100%;
         height: 100%;
          object-fit:cover;
          border-radius: 50%;
        }
      }
      .editIcon{
        width: 4vw;
        position: absolute;
        bottom: 1.2vh;
        right: 1.2vw;
      }
  }
      .title{
        text-align: center;
        font-size: clamp(1.5rem, 3vw, 60px);
        margin-bottom: 3vh;
      }
      .recipesBlock{
        margin-bottom: 5vh;
      }
      // .recipesBlock{
      //   display: flex;
      //   min-height: 72vh;
      //   background-color: $color-white;
      //   justify-content: center;
      //   width: 100%;
      // }
  @media(max-width: 1024px){
    
  }  
  @media(max-width: 768px){
  .profileBlock{
    .imageFrame{
      padding: 1vw;
      .photo{
        width: 25vw;
      }
    }
    .editIcon{
      width: 6vw;
    }
  }
}
}
