@use '../../styles/abstracts/variables' as *;

.window{
  display: flex;
 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
  
  .frame{
    border-radius: 10vmin;
    padding: 0.8vw;
    background-color: $color-yellow;
    .block{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3vw;
      border-radius: 9vmin;
      //width: 40vw;
      background-color: $color-white;
      gap: 5vh;
      position: relative;
        .title{
        font-size: clamp(1.3rem, 3vw, 32px);
      }
        .cross{
        width: 3vw;
        right: -3vw;
        top: -3vw;
        position: absolute;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        &:hover{
          transform: scale(1.1);
        }
        //z-index: 10;
      }
      .formBlock{
        display: flex;
      flex-direction: column;
      align-items: center;
    
   
      .fields{
        display: inline-flex;
        justify-content: center;
        
        gap: 2vw;
        width: 100%;
        margin-bottom: 5vh;
        .columnNames{
          margin-top: 1vh;
          display: flex;
          flex-direction: column;
          gap: 6vh;
        }
        .inputFields{
          display: flex;
          flex-direction: column;
          gap: 4vh;
          *:not(.instructions){
            background-color: $color-yellow;
            padding: 1vh 2vw;
            padding-top: 0.5vh;
            border-radius: 2vw;
            //line-height: 1.5;
            input{
              width: 100%;
              overflow-y: hidden;
              resize: none;
              border: none;
              outline: none;
              border-bottom: 2px solid $color-white;  
              border-radius: 0;
              padding: 0 0 0;
              margin: 0.5vh 0vw;
              font-size: clamp(1.3rem, 1vw, 16px);
              line-height: 1vh; 
              
            }
          }
          
          .loginBlock{
            width: 60%;
          }
          .passwordBlock{
            width: 80%;
          }
          .repeatPasswordBlock{
            width:80%;
          }
        }
      }
    }
    }
  }
  @media(max-width: 420px){
    .frame{
      width: 70vw;
      padding: 2vw;
      border-radius: 10vw;
      .block{
        .cross{
          width: 8vw;
        }
        .fields{
          .inputFields{
            *{
              border-radius: 5vw;
            }
            .input{
              padding: 1vw;
            }
          }
        }
      }
    }
  }
}
.offscreen {
    position: absolute;
    left: -9999px;
}
.instructions {
  //width: 10vw;
  
  font-size: 0.75rem;
  color: $color-red;
  position: fixed;
  z-index: 12;   
  margin-top: 1vh;  
       
}
.successBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
  gap: 1vh;
}
