@use '../../styles/abstracts/variables' as *;

  .frame-block-cards{
     display: flex;
        min-height: 72vh;
        width:100vw;
        justify-content: center;
        //width: 100%;
    .block-cards{
      justify-content: flex-start;
      margin: 3vh 15vw;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      display: flex;
      gap: 10px;

     & > * {
         flex-basis: calc(25% - 8px); 
      }
    
    
    }
    @media(max-width: 1024px){

      .block-cards{
        margin: 3vh 15vw; 
        gap: 15px; 
                
        & > * { 
          flex-basis: calc(33% - 10px); 
          padding: 1.4%;
        }

      }
    }
    
      @media(max-width: 786px){
  
        .block-cards{
        margin: 3vh 20vw; 
        gap: 20px; 
                
        & > * { 
          flex-basis: calc(50% - 15px); 
          padding: 2%;
        }
      }    
    } 
  }
  
   

  