@use '../../styles/abstracts/variables' as *;


    .block-cards{
      justify-content: flex-start;
      margin: 3vh 15vw;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      display: flex;
      gap: 10px;

     & > * {
         flex-basis: calc(25% - 8px); // Примерный расчет для 4 в ряд
      }
      
    
  
    @media(max-width: 1024px){

     
        margin: 3vh 15vw; 
        gap: 15px; 
                
        & > * { 
          flex-basis: calc(30% - 15px); 
          padding: 1.4%;
        }
      }
    
      @media(max-width: 786px){
        margin: 3vh 20vw; 
        gap: 20px; 
                
        & > * { 
          flex-basis: calc(50% - 15px); 
          padding: 2%;
        }
      }     
  }
  
   

  